<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Medical Diagnosis &amp; A Machine Learning based web application | Services</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="medilife-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="h-100 d-md-flex justify-content-between align-items-center">
                         <p>Welcome to <span>Medical Diagnosis, All in one disease predictors ML based app created with love by Karan, Surbhi, Navdeep</span> </p>
                            <p>Covid updates: <span><a href="https://www.bing.com/covid/local/india">click me</a></span></p>                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand" href="index.html"><img src="img/core-img/logo.png" alt="Logo"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <div class="collapse navbar-collapse" id="medilifeMenu">
                                    <!-- Menu Area -->
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="index.html">Home</a>
                                                <a class="dropdown-item" href="about-us.html">About Us</a>
                                                <a class="dropdown-item" href="services.html">Services</a>
                                              
                                                <a class="dropdown-item" href="contact.html">Contact</a>
                                                <a class="dropdown-item" href="index-icons.html">All Icons</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="about-us.html">About Us</a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="services.html">Services</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                    <!-- Appointment Button -->
                                    <a href="tel:+49-112" class="btn medilife-appoint-btn ml-30">For <span>emergencies</span> Click here</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Services</h3>
                        <p>This is a <b>Machine Learning</b> and <b>Deep Learning</b> based WebApp.<br>
These Machine Learning models and Deep Leaning models are trained on large datasets and thousands of images.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Services Area Start ***** -->
    <div class="medilife-services-area section-padding-100-20">
        <div class="container">
            <div class="row">
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-doctor"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="http://127.0.0.1:5000/diabetes">Diabetes Predictor</a></h4>
                <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells.</p>
                <h3>Symptoms</h3>
                <ul>
                    <li>Urinating often.</li>
                    <li>Feeling very thirsty.</li>
                    <li>Extreme fatigue.</li>
                    <li>Blurry vision.</li>
                </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-blood-donation-1"></i>
                        </div>
                        <div class="service-content">
                          <h4><a href="http://127.0.0.1:5000/cancer">Breast Cancer Predicgor</a></h4>
                <p>Breast cancer is cancer that forms in the cells of the breasts.

                    After skin cancer, breast cancer is the most common cancer diagnosed in women in the United States. Breast cancer can occur in both men and women, but it's far more common in women.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>A breast lump or thickening that feels different from the surrounding tissue</li>
                    <li>Change in the size, shape or appearance of a breast</li>
                    <li>Changes to the skin over the breast, such as dimpling</li>
                    <li>Redness or pitting of the skin over your breast, like the skin of an orange</li>
                </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-helicopter"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="http://127.0.0.1:5000/heart">Heart disease Predictor</a></h4>
                <p>Coronary artery disease. Coronary artery disease, also known as coronary heart disease, is the most common type of heart disease. It develops when the arteries that supply blood to the heart become clogged with plaque. This causes them to harden and narrow. Plaque contains cholesterol and other substances.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>chest pain</li>
<li>breathlessness</li>
<li>heart palpitations</li>
<li>nausea</li>
<li>stomach pain</li>
<li>sweating</li>
<li>arm, jaw, back, or leg pain</li>
<li>a choking sensation</li>
<li>swollen ankles</li>
<li>fatigue</li>
<li>an irregular heartbeat</li>
                </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-flask"></i>
                        </div>
                        <div class="service-content">
                            <h5><a href="http://127.0.0.1:5000/kidney">Kidney Predictor</a></h5>
                  
                <p>Chronic kidney disease, also called chronic kidney failure, describes the gradual loss of kidney function. Your kidneys filter wastes and excess fluids from your blood, which are then excreted in your urine. When chronic kidney disease reaches an advanced stage, dangerous levels of fluid, electrolytes and wastes can build up in your body.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>Nausea</li>
                    <li>Vomiting</li>
                    <li>Fatigue and weakness</li>
                    <li>Muscle twitches and cramps</li>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-emergency-call-1"></i>
                        </div>
                        <div class="service-content">
                            <h5><a href="http://127.0.0.1:5000/liver">Liver Predictor</a></h5>
                         
                <p>Symptoms of liver disease can vary, but they often include swelling of the abdomen and legs, bruising easily, changes in the color of your stool and urine, and jaundice, or yellowing of the skin and eyes. Sometimes there are no symptoms. Tests such as imaging tests and liver function tests can check for liver damage and help to diagnose liver diseases.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-blood-donation-2"></i>
                        </div>
                        <div class="service-content">
                            <h5><a href="http://127.0.0.1:5000/malaria">Malaria Predictor</a></h5>
                     <p>Malaria is a mosquito-borne infectious disease that affects humans and other animals. Malaria causes symptoms that typically include fever, tiredness, vomiting, and headaches. In severe cases it can cause yellow skin, seizures, coma, or death. Symptoms usually begin ten to fifteen days after being bitten by an infected mosquito. If not properly treated, people may have recurrences of the disease months later.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>Fever. This is the most common symptom.</li>
                    <li>Chills</li>
                    <li>Headache</li>
                    <li>Nausea and vomiting</li>                        </div>
                    </div>
                </div>

                 <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-flask"></i>
                        </div>
                        <div class="service-content">
                            <h5><a href="http://127.0.0.1:5000/pneumonia">Pneumonia Predictor</a></h5>
                  
             <p>Pneumonia is an infection that inflames the air sacs in one or both lungs. The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, and difficulty breathing. A variety of organisms, including bacteria, viruses and fungi, can cause pneumonia.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>Cough, which may produce greenish, yellow or even bloody mucus.</li>
                    <li>Fever, sweating and shaking chills.</li>
                    <li>Shortness of breath.</li>
                    <li>Rapid, shallow breathing.</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Services Area End ***** -->

    <div class="medilife-services-area clearfix">
        <!-- Single Services Area -->
        <div class="singleServiceArea equalize d-flex">
            <div class="singleServiceIcon">
                <i class="icon-hospital-4"></i>
            </div>
            <div class="singleServiceText">
                <h2>A new way of running things</h2>
               
            </div>
        </div>

        <!-- Single Services Area -->
        <div class="singleServiceArea equalize bg-img" style="background-image: url(img/bg-img/about1.jpg);"></div>

        <!-- Single Services Area -->
        <div class="singleServiceArea equalize d-flex">
            <div class="singleServiceIcon">
                <i class="icon-clinic-history-2"></i>
            </div>
            <div class="singleServiceText">
                <h2>All Technologies are high tech</h2>
                
            </div>
        </div>
    </div>

    <section class="medilife-benefits-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>We always put <br>our best first</h2>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <div class="single-benefits-area mb-50 text-right">
                        <div class="single-benefits-title d-flex align-items-end row-reverse">
                            <i class="icon-teeth"></i>
                            <h5>Safe tests</h5>
                        </div>
                      </div>
                    <div class="single-benefits-area mb-50 text-right">
                        <div class="single-benefits-title d-flex align-items-end row-reverse">
                            <i class="icon-hospital-bed-1"></i>
                            <h5>Online results</h5>
                        </div>
                      </div>
                    <div class="single-benefits-area mb-50 text-right">
                        <div class="single-benefits-title d-flex align-items-end row-reverse">
                            <i class="icon-hospital-2"></i>
                            <h5>Imagistic tests</h5>
                        </div>
                       </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-benefits-thumb">
                        <img src="img/bg-img/benefits.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-benefits-area mb-50">
                        <div class="single-benefits-title d-flex align-items-end">
                            <i class="icon-flask-1"></i>
                            <h5>Safe tests</h5>
                        </div>
                     </div>
                    <div class="single-benefits-area mb-50">
                        <div class="single-benefits-title d-flex align-items-end">
                            <i class="icon-smartphone-1"></i>
                            <h5>Online results</h5>
                        </div>
                      </div>
                    <div class="single-benefits-area mb-50">
                        <div class="single-benefits-title d-flex align-items-end">
                            <i class="icon-nuclear"></i>
                            <h5>Imagistic tests</h5>
                        </div>
                         </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** CTA Area Start ***** -->
    <div class="medilife-cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content">
                        <i class="icon-smartphone"></i>
                        <h2>For Emergency calls</h2>
                        <h3>1097</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** CTA Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-100">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="footer-logo">
                                <img src="img/core-img/logo.png" alt="">
                            </div>
                            <p>We would like to thank my teacher (Dr. Amar Singh) in particular who has offered me the chance to do this great Medical Diagnosis A Machine Learning Based Web Application project, which has also helped me to do a lot of research, and I've learned so many new things I'd really like to thank you. She took pain to pass through the document and made necessary changes as and when necessary and to carefully guide and correct several of my documents.
Secondly, I'd like to thank my parents and friends who have greatly contributed to the completion of this project within a short period of time. We also want to thank our institution and the members of our faculty for the remote reality of this project. Thanks also to our family and friends, we extend our heartfelt thanks.</p>
                            <div class="footer-social-info">
                               
                            </div>
                        </div>
                    </div>

               

                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>Contact Form</h6>
                            </div>
                            <div class="footer-contact-form">
                                <form action="#" method="post">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="footer-name" id="footer-name" placeholder="Name">
                                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="footer-email" id="footer-email" placeholder="Your Email">
                                    <textarea name="message" class="form-control border-top-0 border-right-0 border-left-0" id="footerMessage" placeholder="Message"></textarea>
                                    <button type="submit" class="btn medilife-btn"><a href = "mailto: karanmehra7107@gmail.com">Send Email</a> <span>+</span></button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>News Letter</h6>
                            </div>

                            <div class="footer-newsletter-area">
                                <form action="#">
                                    <input type="email" class="form-control border-0 mb-0" name="newsletterEmail" id="newsletterEmail" placeholder="Your Email Here">
                                    <button type="submit"><a href = "mailto: karanmehra7107@gmail.com">Subscribe</a></button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="bottom-footer-content">
                            <!-- Copywrite Text -->
                            <div class="copywrite-text">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Webpage is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"><a href="https://karanmehra7107.github.io/My-Portfolio/index.html">Karan</a>-Data Science & Machine learning practitnoer-11815793, Surbhi-Data Analyst-11811968, Navdeep-Quality assurance content writer-11818000.</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
<p>A project Supervised by <a href="https://themewagon.com/" target="_blank">Dr. Amar Singh (Associate Professor @LPU)</a>
</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>